pandas
numpy
scikit-learn
joblib
pyyaml
mlflow
fastapi
uvicorn
prometheus-client
pytest
xgboost
pyfunc
fastapi
uvicorn[standard]
prometheus-fastapi-instrumentator
mlflow
pandas
numpy
scikit-learn
boto3
botocore