# Data Science & Core
pandas
numpy
scikit-learn
joblib
pyyaml

# Security Patch Fixes
cryptography>=50.0.0

# Machine Learning
xgboost

# MLflow (Fix for vulnerabilities)
mlflow>=3.15.0

# API
fastapi
uvicorn[standard]
prometheus-client
prometheus-fastapi-instrumentator

# Testing
pytest

# AWS / S3
boto3
botocore

# DVC with S3 support
dvc[s3]